html
    head
    body
        table
            tr
                td(class="menu" )
                    div(onClick="document.location.href='/main';")  Main
                td(class="menu" )
                    div(onClick="document.location.href='/calendar';")   Calendar
                td(class="menu" )
                    div(onClick="document.location.href='/volunteer';")  Volunteer
                td(class="menu" )
                    div(onClick="document.location.href='/profile';")  Profile
                td(class="menu" )
                    div(onClick="document.location.href='/aboutus';")  About us