html
    head    
    body
        table
            tr
                td(class="menu" )
                    div(onClick="document.location.href='/';")  Main
                td(class="menu" )
                    div(onClick="document.location.href='/calendar';")   Calendar
                td(class="menu" )
                    div(onClick="document.location.href='/volunteer';")  Volunteer
                td(class="menu" )
                    div(onClick="document.location.href='/register';")  Register
                td(class="menu" )
                    div(onClick="document.location.href='/aboutus';")  About us
                