html
    head
    style
        include ../css/project.css
        title Let Talk Science Home Page
    body 
        table
            tr
                td(class="rear")
                td(class="midle") 
                    img(class="banner" src="/banner.jpg")
                td(class="rear")
                    include form/loginForm.pug
            tr
                td(class="rear")
                td(class="midle")
                    include menu/menu.pug
                td(class="rear")
            tr
                td(class="rear")
                td(class="midle")
                    div
                       h1= message
                td(class="rear")